<template>
        <v-container>
            <v-card class="pa-3">
                <v-form @submit.prevent="create">
                    <v-text-field
                            v-model="form.title"
                            label="Title"
                            type="text"
                            required>
                    </v-text-field>
                    <span class="red--text" v-if="errors.title">{{errors.title[0]}}</span>
                    <v-autocomplete
                            :items="categories"
                            v-model="form.category_id"
                            item-text="name"
                            item-value="id"
                            label="Category">
                    </v-autocomplete>
                    <span class="red--text" v-if="errors.category_id">{{errors.category_id[0]}}</span>
                    <vue-simplemde v-model="form.body" ref="markdownEditor" />
                    <div class="red--text" v-if="errors.body">{{errors.body[0]}}</div>
                    <v-card-actions>
                        <v-btn :disabled="disabled" type="submit"
                               color="green">
                            Create
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-container>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    title: null,
                    category_id: null,
                    body : null
                },
                categories: [],
                errors : {}
            }
        },
        computed : {
            disabled() {
                return !(this.form.title && this.form.category_id && this.form.body);
            }
        },
        created() {
            axios.get('/api/category')
                .then(res => this.categories = res.data.data)
                .catch(err => console.log(err.response.data));
        },
        methods: {
            create() {
                axios.post('/api/question', this.form)
                    .then(res => this.$router.push(res.data.path))
                    .catch(err => this.errors = err.response.data.errors);
            }
        }
    }
</script>

<style>

</style>