<template>
    <v-container fluid>
        <v-card class="pa-3">
            <v-form @submit.prevent = "update">
                <v-text-field
                        v-model="form.title"
                        label="Title"
                        type="text"
                        required>
                </v-text-field>
                <vue-simplemde v-model="form.body" ref="markdownEditor" />
                <v-card-actions>
                    <v-btn icon type="submit">
                        <v-icon color="teal">save</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon color="black" @click="cancel">cancel</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        props : ['question'],
        data() {
            return {
                form : {
                    title : null,
                    body : null
                }
            }
        },
        created() {
            this.form = this.question;
        },
        methods : {
            cancel() {
                this.$emit('editStatus', false);
            },
            update() {
                axios.patch(`/api/question/${this.question.slug}`)
                    .then(res => this.cancel())
                    .catch(err => console.log(err.response.data));
            }
        }
    }
</script>

<style>

</style>