<template>
    <v-container grid-list-md>
        <v-layout row wrap>
            <v-flex xs8>
                <question v-for="question in questions" :key="question.path" :question="question"></question>
            </v-flex>
            <v-flex xs4>
                <app-sidebar></app-sidebar>
            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>
    import question from './Question.vue';
    import AppSidebar from './AppSidebar.vue';
    export default {
        data() {
            return {
                questions :{}
            }
        },
        components : {question, AppSidebar},
        created() {
            axios.get('/api/question').then(res => {
               return this.questions = res.data.data
            }).catch(err => console.log(err.response.data));
        }
    }
</script>

<style>

</style>