<template>
   <v-container fluid>
       <div>
           <div v-if="edit">
               <edit-question :question="question" @editStatus="edit = $event"></edit-question>
           </div>
           <div v-else>
               <show-question :question="question" v-if="question" @editStatus="edit = $event"></show-question>
           </div>
            <div v-if="question">
                <replies :question="question"></replies>
                <create-reply v-if="loggedIn" :questionSlug="question.slug"></create-reply>
                <div v-else style="margin-left:50px">
                    <router-link to="/login">
                        <v-btn color="teal" dark> Login in to Reply</v-btn>
                    </router-link>
                </div>
            </div>
       </div>
   </v-container>
</template>

<script>
    import ShowQuestion from './ShowQuestion.vue';
    import EditQuestion from './Edit.vue';
    import Replies from '../Reply/Replies.vue';
    import CreateReply from '../Reply/CreateReply.vue';
    export default {
        data() {
            return {
                question: null,
                edit : false
            }
        },
        computed : {
            loggedIn() {
                return User.loggedIn();
            }
        },
        components: {ShowQuestion, EditQuestion, Replies, CreateReply},
        created() {
            axios.get(`/api/question/${this.$route.params.slug}`)
                .then(res => this.question = res.data.data)
                .catch(err => console.log(err.response.data));
        }
    }
</script>

<style>

</style>