<template>
    <v-card>
        <v-card-title>
            <div>
                <h3 class="headline mb-0">{{question.title}}</h3>
                <div class="grey--text">{{question.created_at}}</div>
            </div>
            <v-spacer></v-spacer>
            <v-btn color="teal" dark>{{replies_count}} replies</v-btn>
        </v-card-title>
        <v-card-text v-html="body"></v-card-text>
        <v-card-actions v-if="own">
            <v-btn icon small @click="edit">
                <v-icon color="orange">edit</v-icon>
            </v-btn>
            <v-btn icon small @click="destroy">
                <v-icon color="red">delete</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                own: User.own(this.question.user_id),
                replies_count : this.question.replies_count
            }
        },
        props: ['question'],
        computed: {
            body() {
                return md.parse(this.question.body);
            }
        },
        created() {
            EventBus.$on('newReply', () => {
                this.replies_count ++;
            });
            EventBus.$on('deleteReply', () => {
                this.replies_count --;
            });

            Echo.private('App.User.' + User.id())
                .notification((notification) => {
                    this.replies_count ++;
                });
            Echo.channel('DeleteReply')
                .listen('DeleteReplyEvent', (e) => {
                    this.replies_count --;
                });

        },
        methods: {
            destroy() {
                axios.delete(`/api/question/${this.question.slug}`)
                    .then(res => this.$router.push('/forum'))
                    .catch(err => console.log(err.response.data));
            },
            edit() {
                this.$emit('editStatus', true);
            }
        }
    }
</script>

<style>

</style>