<template>
    <div>
        <v-btn icon @click="likeIt">
            <v-icon :color="color">favorite</v-icon>{{count}}
        </v-btn>
    </div>
</template>

<script>
    export default {
        props : ['content'],
        data() {
            return {
                count : this.content.like_count,
                liked : this.content.liked
            }
        },
        computed : {
            color() {
                return this.liked ? 'red' : 'red lighten-4';
            }
        },
        created() {
            Echo.channel('likeChannel')
                .listen('LikeEvent', (e) => {
                    if(this.content.id == e.id) {
                        e.type == 1 ? this.count ++ : this.count --;
                    }
                });
        },
        methods : {
            likeIt() {
                if(User.loggedIn()) {
                    this.liked ? this.dec() : this.inc();
                    this.liked = !this.liked;
                }
            },
            inc() {
                axios.post(`/api/like/${this.content.id}`)
                    .then(res =>this.count++);
            },
            dec() {
                axios.delete(`/api/like/${this.content.id}`)
                    .then(res =>this.count--);
            }
        }
    }
</script>

<style>

</style>