<template>
    <v-container>
        <v-card class="pa-3">
            <v-form @submit.prevent="login">
                <v-text-field
                        v-model="form.email"
                        label="E-Mail"
                        type="email"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="form.password"
                        label="Password"
                        type="password"
                        required
                ></v-text-field>
               <v-card-actions>
                   <v-btn type="submit"
                          color="green" class="mr-3">
                       Sign In
                   </v-btn>
                   <router-link to="/sign-up">
                       <v-btn color="blue">Sign Up</v-btn>
                   </router-link>
               </v-card-actions>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    email: null,
                    password: null
                }
            }
        },
        created() {
            if(User.loggedIn()) {
                this.$router.push({name:'forum'});
            }
        },
        methods: {
            login() {
                User.login(this.form);
                this.$router.push({name:'forum'});
            }
        }
    }
</script>

<style>

</style>