<template>
    <v-footer color="indigo" dark class="pa-3">
        Forum
        <v-spacer></v-spacer>
        <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
</template>

<script>
    export default {}
</script>

<style>

</style>