<template>
    <div>
        <v-app>
            <tool-bar></tool-bar>
            <router-view></router-view>
            <app-footer></app-footer>
        </v-app>
    </div>
</template>

<script>
    import ToolBar from './Toolbar.vue';
    import AppFooter from './AppFooter.vue';
    import Login from '../components/Login/Login.vue';

    export default {
        components: {
            ToolBar, AppFooter, Login
        }
    }
</script>

<style>

</style>