<template>
    <div class="text-xs-center">
        <v-menu offset-y>
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-icon :color="color">add_alert</v-icon> {{unreadCount}}
                </v-btn>
            </template>
            <v-list>
                <v-list-tile v-for="item in unread" :key="item.id">
                    <router-link :to="item.path">
                        <v-list-tile-title @click="readIt(item)">{{item.question}}</v-list-tile-title>
                    </router-link>
                </v-list-tile>
                <v-divider></v-divider>
                <v-list-tile v-for="item in read" :key="item.id">
                        <v-list-tile-title>{{item.question}}</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                read : {},
                unread : {},
                unreadCount : 0,
                sound : 'http://soundbible.com/mp3/Air%20Plane%20Ding-SoundBible.com-496729130.mp3'
            }
        },
        created() {
            if(User.loggedIn()) {
                this.getNotifications();
            }
            Echo.private('App.User.' + User.id())
                .notification((notification) => {
                    this.playNotificationAlert();
                    this.unread.unshift(notification);
                    this.unreadCount++;
                });
        },
        methods : {
            getNotifications(){
                axios.post('/api/notifications')
                    .then(res => {
                        this.read = res.data.read;
                        this.unread = res.data.unread;
                        this.unreadCount = res.data.unread.length;
                    }).catch(err => Exception.handle(err));
            },
            readIt(item) {
                axios.post('/api/marked-read', {id : item.id})
                    .then(res => {
                        this.unread.splice(item, 1);
                        this.read.unshift(item);
                        this.unreadCount--;
                    }).catch(err => console.log(err.response.data));
            },
            playNotificationAlert() {
                const alert = new Audio(this.sound);
                alert.play();
            }
        },
        computed : {
            color() {
                return this.unreadCount > 0 ? 'red' : 'red lighten-4';
            }
        }
    }
</script>

<style>

</style>