<template>
    <v-parallax height="700" dark src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
        <v-layout align-center column justify-center>
            <h1 class="display-4 font-weight-thin mb-4">Real SPA</h1>
            <h4 class="headline">Real Time Single Page Forum!</h4>
        </v-layout>
    </v-parallax>
</template>

<script>
    export default {}
</script>

<style>

</style>