<template>
    <v-toolbar color="indigo" dark>
        <v-toolbar-title>
            <router-link class="white--text" to="/">Forum</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <app-notification v-if="loggedin"></app-notification>
        <div class="hidden-sm-and-down">
            <router-link v-for="item in items" :key="item.title" :to="item.to" v-if="item.show">
                <v-btn flat>{{item.title}}</v-btn>
            </router-link>
        </div>
    </v-toolbar>
</template>

<script>
    import AppNotification from './AppNotification.vue';
    export default {
        data() {
            return {
                loggedin : User.loggedIn(),
                items : [
                    {title : 'Forum', to: '/forum', show : true},
                    {title : 'Ask Question', to: '/ask', show : User.loggedIn()},
                    {title : 'Category', to: '/category', show : User.admin()},
                    {title : 'Login', to: '/login', show : !User.loggedIn()},
                    {title : 'Logout', to: '/logout', show : User.loggedIn()},
                ]
            }
        },
        created() {
            EventBus.$on('logout', () => {
                User.loggedOut();
            });
        },
        components : {AppNotification}
    }
</script>

<style>

</style>