<template>
    <v-container>
        <v-alert v-if="errors" dense outlined type="error" :value="true" class="mb-2">
            Please Giv Category Name!!
        </v-alert>
        <v-card class="pa-3">
            <v-form @submit.prevent="submit">
                <v-text-field
                        v-model="form.name"
                        label="Name"
                        type="text"
                        required>
                </v-text-field>
                <v-card-actions>
                    <v-btn type="submit" color="cyan" v-if="editSlug" dark>Update</v-btn>
                    <v-btn type="submit" color="green" v-else dark>Create</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
        <v-card class="mt-2">
            <v-toolbar color="teal" dark>
                <v-toolbar-title class="text-xs-center">Category</v-toolbar-title>
            </v-toolbar>

            <v-list>
                <v-list-tile
                        v-for="(category,index) in categories"
                        :key="category.id"
                >
                    <v-list-tile-action>
                        <v-btn icon>
                            <v-icon color="orange" @click="edit(index)">edit</v-icon>
                        </v-btn>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title v-html="category.name"></v-list-tile-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                        <v-btn icon>
                            <v-icon color="red" @click="destroy(category.slug, index)">delete</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
            <v-divider></v-divider>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    name: null
                },
                errors: null,
                categories: {},
                editSlug: null
            }
        },
        computed: {
            disabled(){
                return !this.form.name;
            }
        },
        created() {
            if (!User.admin()) {
                this.$router.push('/forum');
            }
            axios.get('/api/category')
                .then(res => this.categories = res.data.data)
                .catch(err => console.log(err.response.data));
        },
        methods: {
            submit() {
                if (this.editSlug) {
                    this.update();
                } else {
                    this.create();
                }

            },
            create() {
                axios.post('/api/category', this.form)
                    .then(res => this.categories.unshift(res.data))
                    .catch(err => this.errors = err.response.data.errors);
            },
            update() {
                axios.patch(`/api/category/${this.editSlug}`, this.form)
                    .then(res => this.categories.unshift(res.data))
                    .catch(err => console.log(err.response.data));
            },
            edit(index) {
                this.form.name = this.categories[index].name;
                this.editSlug = this.categories[index].slug;
                this.categories.splice(index, 1);
            },
            destroy(slug, index) {
                axios.delete(`/api/category/${slug}`)
                    .then(res => this.categories.splice(index, 1))
                    .catch(err => console.log(this.response.data));
            }
        }
    }
</script>

<style>

</style>