<template>
    <v-container>
        <v-form @submit.prevent="create">
            <vue-simplemde v-model="form.body" ref="markdownEditor" />
            <div class="red--text" v-if="errors.body">{{errors.body[0]}}</div>
            <v-btn type="submit" :disabled="disabled" color="green">Reply</v-btn>
        </v-form>
    </v-container>
</template>

<script>
    export default {
        props : ['questionSlug'],
        data() {
            return {
                form : {
                    body : null
                },
                errors : {}
            }
        },
        computed : {
            disabled() {
                return !this.form.body;
            }
        },
        methods : {
            create() {
                axios.post(`/api/question/${this.questionSlug}/reply`, this.form)
                    .then(res => {
                        this.form.body = '';
                        EventBus.$emit('newReply', res.data.reply);
                        window.scrollTo(0,0);
                    })
                    .catch(err => this.errors = err.response.data.errors);
            }
        }
    }
</script>

<style>

</style>