<template>
    <v-form @submit.prevent="update">
        <vue-simplemde v-model="reply.reply" ref="markdownEditor" />
        <div class="red--text" v-if="errors.body">{{errors.body[0]}}</div>
        <v-btn icon @click="update">
            <v-icon color="teal">save</v-icon>
        </v-btn>
        <v-btn icon @click="cancel">
            <v-icon color="black">cancel</v-icon>
        </v-btn>
    </v-form>
</template>

<script>
    export default {
        props : ['reply'],
        data() {
            return {
                errors : {}
            }
        },
        methods : {
            update() {
                axios.patch(`/api/question/${this.reply.question_slug}/reply/${this.reply.id}`, {body : this.reply.reply})
                    .then(res => this.cancel())
                    .catch(err => this.errors = err.response.data.errrors)
            },
            cancel() {
                EventBus.$emit('cancelEditReply');
            }
        }
    }
</script>

<style>

</style>