<template>
   <div class="mt-2">
       <v-card>
           <v-card-title primary-title>
               <div class="headline mb-0">{{reply.user}}</div>
               <div class="ml-2"> said {{reply.created_at}} </div>
               <v-spacer></v-spacer>
               <like :content="reply"></like>
           </v-card-title>
           <v-divider></v-divider>
           <edit-reply v-if="editing" :reply="reply"></edit-reply>
           <v-card-text v-else v-html="replyData"></v-card-text>
           <div v-if="!editing">
               <v-card-actions v-if="own">
                   <v-btn icon @click="edit">
                       <v-icon color="orange">edit</v-icon>
                   </v-btn>
                   <v-btn icon @click="destroy">
                       <v-icon color="red">delete</v-icon>
                   </v-btn>
               </v-card-actions>
           </div>
       </v-card>
   </div>
</template>

<script>
    import EditReply from './EditReply.vue';
    import Like from '../Likes/Like.vue';
    export default {
        props : ['reply','index'],
        data() {
            return {
                editing : false,
            }
        },
        computed : {
            own() {
                return User.own(this.reply.user_id);
            },
            replyData() {
                return md.parse(this.reply.reply);
            }
        },
        created() {
          this.listen();
        },
        methods : {
            destroy() {
                EventBus.$emit('deleteReply', this.index);
            },
            edit() {
                this.editing = true;
            },
            listen() {
                EventBus.$on('cancelEditReply', () => {
                    this.editing = false;
                })
            }
        },
        components : {EditReply, Like}
    }
</script>

<style>

</style>