<template>
    <v-container>
        <reply v-for="(reply,index) in contents" :reply="reply" :index="index" :key="reply.id"></reply>
    </v-container>
</template>

<script>
    import Reply from "./Reply.vue";
    export default {
        props: ['question'],
        data() {
            return {
                contents: this.question.replies
            }
        },
        components: {
            Reply
        },
        created() {
            this.listen();
        },
        methods: {
            listen() {
                EventBus.$on('newReply', ($reply) => {
                    this.contents.unshift($reply);
                });
                EventBus.$on('deleteReply', (index) => {
                    axios.delete(`/api/question/${this.question.slug}/reply/${this.contents[index].id}`)
                        .then(res => this.contents.splice(index, 1))
                        .catch(err => console.log(err.response.data));
                });
                Echo.private('App.User.' + User.id())
                    .notification((notification) => {
                        this.contents.unshift(notification.reply);
                    });
                Echo.channel('DeleteReply')
                    .listen('DeleteReplyEvent', (e) => {
                        for(let i = 0; i < this.contents.length; i++) {
                            if(this.contents[i].id == e.id) {
                                this.contents.splice(i, 1);
                            }
                        }
                    });
            },

        }
    }
</script>

<style>

</style>